/.history
.project
.vscode
/code_cpp/.history
/code_cpp/.vscode
#python
/code_cpp/opencv_examples/__pycache__/
/.buildconfig
/Java/opencv_files/.history
# vscode
/.vscode
#
/build*
/Java/.idea
# maven and java
/Java/.history
/Java/.vscode/Java/*.class
/.vscode
/.vscode/settings.json
/Java/opencv_files/opencv-example/.classpath
/Java/opencv_files/opencv-example/.project
/Java/opencv_files/opencv-example/.settings/org.eclipse.core.resources.prefs
/Java/opencv_files/opencv-example/.settings/org.eclipse.jdt.core.prefs
/Java/opencv_files/opencv-example/.settings/org.eclipse.m2e.core.prefs
/Java/opencv_files/opencv-example/.settings/

